$font-week1-unna: 'Unna', serif;
$font-week1-lato: 'Lato', sans-serif;
$font-week2-vollkorn: 'Vollkorn', serif;
$font-week2-open-sans: 'Open Sans', sans-serif;
$font-week3-arvo: 'Arvo', serif;
$font-week3-noto: 'Noto+Sans', sans-serif;
